<div class="page-loader" id="pageLoader" data-variant="{{ loaderVariant if loaderVariant else 'default' }}">
  {% if loaderVariant == 'contact' %}
    <div class="loader-text">
      <span class="loader-text-italic">Got something&nbsp;</span><span class="loader-text-bold">in mind?</span>
    </div>
  {% else %}
    <img src="{{ site.logo }}" alt="{{ site.name }}">
  {% endif %}
</div>
