---
layout: layouts/base.njk
pagination:
  data: clientVideos
  size: 1
  alias: video
permalink: "/work/{{ video.slug }}/"
eleventyComputed:
  title: "{{ video.title }} - {{ video.category }} | Rafhin Visuals"
  description: "{{ video.description }}"
  ogImage: "{{ video.poster }}"
  ogImageAlt: "{{ video.title }} - {{ video.category }} by Rafhin Visuals"
  ogVideoUrl: "https://player.vimeo.com/video/{{ video.vimeoId }}"
pageCSS: video-detail.css
pageScripts:
  - video-detail.js
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "{{ video.title }}",
  "description": "{{ video.description }}",
  "thumbnailUrl": ["{{ video.poster }}"],
  "uploadDate": "{{ video.uploadDate }}T00:00:00-06:00",
  "duration": "PT{{ video.durationSeconds }}S",
  "embedUrl": "https://player.vimeo.com/video/{{ video.vimeoId }}",
  "contentUrl": "https://vimeo.com/{{ video.vimeoId }}",
  "publisher": {
    "@type": "Organization",
    "name": "Rafhin Visuals",
    "logo": { "@type": "ImageObject", "url": "{{ site.url }}{{ site.logo }}" }
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    { "@type": "ListItem", "position": 1, "name": "Home", "item": "{{ site.url }}/" },
    { "@type": "ListItem", "position": 2, "name": "Work", "item": "{{ site.url }}/work/" },
    { "@type": "ListItem", "position": 3, "name": "{{ video.title }}", "item": "{{ site.url }}/work/{{ video.slug }}/" }
  ]
}
</script>

<section class="wd-section">
  <a href="/" class="wd-back">&larr;&nbsp;Back to home</a>

  <div class="wd-video-wrap{% if video.aspectRatio == '9 / 16' %} wd-video-wrap--vertical{% endif %}" style="aspect-ratio:{{ video.aspectRatio }}">
    <iframe class="wd-video"
      src="https://player.vimeo.com/video/{{ video.vimeoId }}?title=0&byline=0&portrait=0"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
      {% if video.startAt %}data-start-at="{{ video.startAt }}"{% endif %}
      title="{{ video.title }} client film"></iframe>
  </div>

  <div class="wd-info">
    <p class="wd-eyebrow">Client Work</p>
    <h1 class="wd-brand">{{ video.title }}</h1>
    <p class="wd-category">{{ video.category }}</p>
    {% if video.description %}
    <p class="wd-desc">{{ video.description }}</p>
    {% endif %}
    <a href="/contact/" class="btn-primary">Start a Project &nbsp;&rarr;</a>
  </div>

  <div class="wd-more">
    <p class="wd-more-eyebrow">More Work</p>
    <div class="wd-more-grid" data-shuffle-count="4">
      {% for other in clientVideos | otherVideos(video.slug) %}
        <a class="wd-more-item" href="/work/{{ other.slug }}/">
          <img class="wd-more-poster" src="{{ other.poster }}" alt="" loading="lazy">
          <div class="wd-more-scrim"></div>
          <p class="wd-more-title">{{ other.title }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
